<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href"books.scss"/>
  </head>
  <body>
    <p id="notice"></p>

    <h1>Books</h1>
    <% @books.each do |book| %>
    <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Body</th>
            <th colspan="3"></th>
          </tr/>
        </tbody>
      </table>
    <% end %>
      <h2>New book</h2>
      <%= form_with model: @book, url: '/books', method: :post  do |f| %>
        <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post">
          <div class="field">
            <label class="book_title">Title</label>
            <%= f.text_field :title %>
          </div>
          <div class="field">
            <label for="book_body">Body</label>
            <%= f.text_area :body %>
          </div>
          <div class="actions">
            <%= f.submit 'Create Book' %>
          </div>
        </form>
      <% end %>
  </body>
</html>
